<style>
/*分页*/
.paging{
    display: flex;
    justify-content: center;
}
a:hover{
    background-color: rgba(188, 225, 255, 0.44);
    border: 1px solid  #98bcff
}
</style>
<div class="paging">
    <div>
        <% if(nowPage!='1'){ %>
            <a class="btn btn-default" href="/<%= type %>?page=1">首页</a>
            <a class="btn btn-default" href="/<%= type %>?page=<%= nowPage-1 %>">上一页</a>
        <% } %>
        <% min = nowPage-2 < 1 ? 1 : nowPage-2 %>
        <% max = nowPage+2 > dataLength ? dataLength : nowPage+2 %>
        <% for(var i=min;i<=max;i++){ %>
            <% if(nowPage==i){ %>
                <a class="btn btn-default" href="/<%= type %>?page=<%= i%>" style="background-color: rgba(188, 225, 255, 0.44);border: 1px solid  #98bcff"><%= i%></a>
            <% }else{ %>
                <a class="btn btn-default" href="/<%= type %>?page=<%= i%>"><%= i%></a>
            <% } %>
        <% } %>
        <% if(dataLength!=nowPage){ %>
            <a class="btn btn-default" href="/<%= type %>?page=<%= nowPage+1 %>">下一页</a>
            <a class="btn btn-default" href="/<%= type %>?page=<%= dataLength %>">尾页</a>
        <% } %>
    </div>
</div>